li, body {
    color: white,
    
}

.listGroup {
    padding-left: .5rem;
    color: rgba(49, 30, 111, 0.789);
    display: flex;
    flex-direction: column;
    align-items: center;
}



.faveList {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 3rem;
    /* color: rgb(47, 47, 47), */
}

.faveHeader {
    color: white;
    display: flex;
    justify-content: center;
    font-size: 2rem;
}
#user {
    color: white;
    padding: .25rem;
    text-align: center;
}